<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Welcome!</title>
</head>
<body>
    <h1>Welcome to my page</h1>
    <p>This is the demo app for the course <em>Getting Started with Flask</em>
        on <a href=https://oriharaorchards.com"> Orihara Orchards </a>
    </p>
    <img src="/static/flasklogo.png">
<h2>
    Flasdcards
</h2>
<ul>
    {%for card in cards %}
    <li>
        <a href="{{url_for('card_view',index=loop.index0) }}">
            {{card.question}}
        </a>
    </li>
    {% endfor %}
</ul>

<h2>
    <a href="{{url_for('remove_card', index=index)}}">Remove this card</a>
</h2>
</body>
</html>